














@media screen and (max-width: 420px) {


   

 .custom-footer {
    display: flex;
    flex-direction: column;
}


.custom-footer img {
    width: 100%;
    object-fit: contain;
}


.custom-footer-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 31px;

}


.custom-footer-two img {
    width: 71px;
    object-fit: contain;
}

.custom-footer-two .custom-download-app {
    font-size: 0.9rem;
}



    .custom-footer-three {
        display: flex;
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        gap:40px;
        width: 100%;
    }


    .footer-icon {
        width: 34px;
    }


    .admin-footer  {
        font-size: 0.9rem;
    }




    }




