



.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease, transform 0.9s ease;
  }
  
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }









  @media screen and (max-width:420px) {

    .custom-team-member-container h3 {
      font-size: 1.3rem;
    }

    .custom-team-member-container h4 {
      font-size: 0.9rem;
      width: 100%;
    }



    .custom-team-member-container span {
      font-size: 1.3rem;
    }

    



    .custom-team-member-container p {
      font-size: 0.9rem;
    }


 
 
     
 
 }