












@media screen and (max-width:420px) {
    .custom-skill-dev-container h3 {
        font-size: 1.1rem;
    }


    .custom-skill-dev-wrapper {
        display: flex;
        flex-direction: column;
    }

}